.main-features {
  margin-top: 10px;      
}
body {
  background:  url("/images/bg.png") transparent !important;
}  
body .navbar .navbar-inner {
  background: url("/images/head_bg.png") repeat-x #656270 !important;
}    

body .hero-unit {
	background: none;
	padding: 60px 0;
	border-radius: 0px;
}

body h1, body h2, body h3, body h3 {
	font-family: "Philosopher", "Open Sans","Lucida Grande","Helvetica Neue",Helvetica,Arial,sans-serif
}

body .hero-unit h1 {
	color: #656270;
}

#page h4 {
	border-bottom: 1px solid #656270;	
}

.sample-code {
	font-family: monospace;
	font-size: 17px;
	line-height: 150%;
}
.sample-code .string {
	color: #468847;
}

.sample-code .method {
	color: #488BA8;
}

pre code {
	font-size: 15px;
	white-space: pre !important;
	word-wrap: normal !important;
}

body #page code {
	font-size: 15px;
	white-space: pre;
}

body .highlight pre {
	background: #333;
	white-space: pre;
	overflow-x: scroll;
}

body .page {
	font-size: 1.2em;
	line-height: 200%;
	margin: 1em 0;
}
body b {
	color: #666;
}

#contributors a {
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;	
}
#contributors a img {
	border-radius: 5px;
}

#toc ul {
	margin: 0;
	list-style: none;
	border-radius: 5px;
	background: #eee;
	padding: 10px;
}
#toc ul li {
	margin-bottom: 3px;
}

#toc .toc {

}

#toc a {
	padding: 5px;
	width: 100%;
   font-size: 1.2em;   
}

#footer {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px solid #807A84;
	background: #CAC7D6;
}
#copyright {
	height: 25px;
	color: #fff;
	font-weight: bold;
	font-size: 0.9em;
	text-align: center;
	padding-top: 10px;
	background: url("/images/footer_c.png") repeat-x;	
}

body .dropdown-modules {
	min-width: 300px;	
}

body .dropdown-modules li a {
	float: left;
	clear: none;
	width: 110px;
}

.follow {
	padding: 13px 0;
}

#gs_tti0 {
	padding: 0px !important;
}

.gsc-control-cse {
	background: transparent !important;
	border: none !important;
}

.links a {
	color: #666;
}