.main-features {
	margin-top: 10px;
}
body {
	background:  #ecf0f1; /** url("/images/bg.png") transparent !important; */
	word-wrap: break-word; /* IE */
	overflow-wrap: break-word; /* CSS3 */
	font-family: "Shanti", "Helvetica Neue",Helvetica,Arial,sans-serif;  
}

body .wide {
	margin: 0 auto;
	max-width: 1600px;
}
body .wide>div {
	margin: 0 30px;
}

body .navbar.nav-custom {
	background: #042943;
	border-bottom:1px solid #1D3E55;
	border:0px;
	border-radius:0px;
}

body .navbar-brand img{
	height: 50px;
	margin-left: 8px;
}

body .nav-custom .navbar-nav>li>a {
	color: #CCD4D9;
	font-size:13px;
	font-weight:600;
}

body .nav-custom .navbar-brand {
	padding: 0;
}

body .hero-unit {
	/*background: url('/images/geometry.png');*/
	background: rgba(255,255,255,0.7);
	text-align: center;
	padding: 3.5em;
	border-radius: 0px;
	margin-bottom: 20px;
}

body h1, body h2, body h3, body h3 {
	font-family: "Yantramanav", Helvetica, Arial, sans-serif;
	color: #45414B;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
}


body #home-hero h1 {
	color: #fff;
	font-size: 120px;
	font-weight: bold;
	text-shadow: #000 1px 2px 5px;
	font-family: 'Yantramanav', sans-serif;
}

#home-hero img{
	position:relative;
	top:-7px;
}

.maintainer a {
	color: #fff;
}

.maintainer {
	border-left: 1px solid #ccc;
	padding-left: 2em;
	color: #ccc;
	float: right;
}

.maintainer img {
	border-radius: 50px;
	width: 100px;
	height: 100px;
}

#home-hero p.lead {
	color:#fff;
}

.hero-unit p.lead {
	font-weight: bold;
	font-style: italic;
}

#page h4 {
	border-bottom: 1px solid #656270;
}

.sample-code {
	font-family: monospace;
	font-size: 17px;
	line-height: 150%;
}
.sample-code .string {
	color: #468847;
}

.sample-code .method {
	color: #488BA8;
}

pre code {
	font-size: 15px;
	white-space: pre !important;
	word-wrap: normal !important;
}

body #page code {
	font-size: 15px;
	white-space: pre;
}

body .highlight pre {
	background: #333;
	white-space: pre;
}

body .page {
	font-size: 1.2em;
	line-height: 150%;
	padding: 2em;
	padding-top: 1em;
	background: #fff;
	margin-bottom: 1.5em;
	border-radius: 5px;
}

body .page p {
	margin-top: 0.75em;
	margin-bottom: 0.75em;
}

body .page img {
	max-width: 100%;
}

body b {
	color: #666;
}

#contributors a {
	margin-right: 5px;
	margin-bottom: 5px;
	float: left;
}
#contributors a img {
	border-radius: 25px;
}

#toc ul {
	margin: 0;
	list-style: none;
	border-radius: 5px;
	background: #eee;
	padding: 10px;
}
#toc ul li {
	margin-bottom: 3px;
}

#toc .toc {

}

.toc-h3 {
	margin-left: 0.5em;
}


.toc-h4 {
	margin-left: 1.5em;
	font-size: 90%;
}


#toc a {
	padding: 5px;
	width: 100%;
	font-size: 1.2em;
}

#footer {
	margin-top: 0;
  padding-top: 10px;
  background: #03A9F4;
  color: #fff;
}

#footer a {
	color: #fff;
}

.footer-links {
	clear: both;
  display: block;
  border-top: 1px dashed #fff;
  margin-top: 1em;
  padding-top: 1em;
  font-size: 1.5em;
  margin-left: 0;
  list-style-type: square;
}
.footer-links li {
	margin-left: 0;
}

#copyright {
	height: 35px;
	color: #fff;
	font-weight: bold;
	font-size: 0.9em;
	text-align: center;
	padding: 10px 0;
	background: #2980b9;
}

body .dropdown-modules {
	min-width: 300px;
}

body .dropdown-modules li a {
	float: left;
	clear: none;
	width: 50%;
}

#gs_tti0 {
	padding: 0px !important;
}

.gsc-control-cse {
	background: transparent !important;
	border: none !important;
}

.links a {
	color: #666;
}

p img {
	max-width: 100%;
}

ul.navbar-collapse {
	max-height: none;
}

ul.navbar-nav {
	margin: 0 -15px;
}

.row.home{
	padding-top:225px;
}

.row.home.no-padding-top{
	padding-top:0px;
}

.row.home-btns{
	margin-top:40px;
	margin-bottom:40px;
}

.well.dark{
	background:#042943;
	background: rgba(0, 0, 0, 0.2);
	border:0px;
}

.well.dark p{
	color:#ccc;
}

.well.dark p b{
	color:#eee;
}


.hero {
	background: #042943 no-repeat top center;	
	background-size: cover; 
	height: 80vh;
	width: 100%;	
	font-family: 'Yantramanav', sans-serif;
	margin-top: -20px;
	color: #fff;
	padding-top: 10vh;	
}

.hero .quiet {
	color: #ddd;
	font-size: 50px;
}

.hero h1 {
	color: #fff;
	font-size: 120px;
	font-weight: bold;
}

#home-hero{
	width:100%;
	height:100vh;
	min-height: 800px;
	left:0px;
	// top:50px; /* space needed for navbar */
	background:#042943 no-repeat center center;
	background-image: url(../images/home-bg.jpg);
	background-size: cover;
	display: table;
	margin-top: -20px;
	text-align:center;
	border-bottom: 10px solid #fff;
}

#home-hero>.bubble {
	display: table-cell;
	vertical-align: middle; 
	text-align: center; 	
	margin-top: -70px;
}

.btn-install {
	background-color: #E64A19;
	border-color: #E64A19;
	color: #fff;
}

#home-hero .logo {
	width: 200px;
	border-radius: 100px;
}

@media screen and (max-width : 1260px) {
	.follow {
		display: none;
	}
}


@media screen and (max-width : 992px) {

	body .dropdown-modules li a {
		float: none;
		clear: none;
		width: 100%;
	}

	body #home-hero h1{
		padding-top:75px;
	}

	#home-hero{
		height:320px;
	}

	.well.dark{
		background:#fff;
	}

	.well.dark p{
		color:#888;
	}

	.well.dark p b{
		color:#333;
	}

	.row.home-btns{
		margin-bottom:20px;
	}

	ul {
		padding-left: 20px;
	}
}

@media screen and (max-width : 767px) {

	.menu li {
		clear: both;
	}

	body #home-hero h1{
		padding-top:0px;
		font-size: 60px;
	}

	.navbar-nav .dropdown-menu, .navbar-nav .dropdown-menu a {
		color: #999;
	}

	.navbar-nav .dropdown-menu a:hover {
		background-color: inherit;
		color: #fff;
	}


}

@media screen and (min-width: 1030px) {
	.navbar-collapse.collapse {
		display: block!important;
		height: auto!important;
		padding-bottom: 0;
		overflow: visible!important;
	}
}
#searchable > .search {
	width: 100%;
	height: 45px;
	color: #333;
	text-indent: 16px;
	border-radius: 24px;
	border: 1px solid #ddd;
	box-shadow: inset 0 1px 1px hsla(0, 0%, 0%, 0.075);
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	outline: none;
}

.card {
	padding: 3em;

}
.card .check {
	float: left;
	font-size: 70px;
	color: #666;
	border-radius: 50px;
	background: #eee;
	width: 100px;
	height: 100px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	margin-right: 10px;
	border-top: 7px solid #fff;
	border-left: 7px solid #fff;  
	
}
.card>p {
	display: table;
	font-size: 1.2em;
}

.card code {
	padding: 0;
	color: #666;
	display: inline-block;
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 0.8em;
}

.btn-learn {
	background: #fff;
	color: #666;
	display: inline-block;
	margin-top: 1em;	
}

.mission {
	background: #B2EBF2;
	padding-top: 2em;
	padding-bottom: 2em;
	font-family: 'Yantramanav', sans-serif;
	border-bottom: 10px solid #fff;	
	margin: 1em auto;
}

.sub-footer {
	font-family: 'Yantramanav', sans-serif;
	margin: 1em auto;		
	background: #CFD8DC;
  margin-bottom: -1em;
  padding-top: 4em;
  padding-bottom: 6em;
    border-top: 3px dashed #fff;	
}

.mission-text {
	font-style: italic;
	text-align: center;
	padding: 1em;
	width: 60%;
	max-width: 1200px;
	margin: 0 auto;
	font-size: 2em;
	color: #666;
}

#carousel-companies .item img {
	height: 150px;
	margin: 0 auto;
}

.sublogo {
	clear: both;
	float: left;
	display: table;
}
.sublogo img {
	margin-right: 20px;
	width: 80px;
	margin-bottom: 10px;
}

.sidebar {
	color: #000;
  background: #fff;
  border-bottom: 5px solid #666;
}

.sidebar ul {
	font-size: 1.1em;
	list-style: none;	
	padding-left: 0;
	line-height: 2;
}

.sidebar ul li:before {
  content: 	"\2713";
  margin: 0 0.5em;  
}

.sidebar ul li {}


.dropdown-menu {
	min-width: 200px;
}
.dropdown-menu.columns-2 {
	min-width: 400px;
}
.dropdown-menu.columns-3 {
	min-width: 700px;
}

.multi-column-dropdown li a {
	padding: 5px 0px;
	font-weight: 300;
}
.multi-column-dropdown {
	list-style: none;
	padding-left: 10px;
}

.multi-column-dropdown li a {
	display: block;
	clear: both;
	line-height: 1.428571429;
	color: #333;
	white-space: normal;
}
.multi-column-dropdown li a:hover {
	text-decoration: none;
	color: #262626;
	background-color: #f5f5f5;
}
 
@media (max-width: 767px) {
	.dropdown-menu {
		background: #fff;

	}

	.dropdown-menu.multi-column {
		min-width: 240px !important;
		overflow-x: hidden;
	}
}

.panel-body {
	font-size: 1.2em;
}

.casestudy .btn {
	border-left: 5px solid #D32F2F;
}

.carousel-control.right {
	background: none !important;
}

/**
 * Bootstrap override
 */
.navbar-collapse {
	max-height: none;
}


.card {
	display: block;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	background: #fff;
}

.card.module {

}

.card {
  margin-top: 10px;
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;
}
.card span.card-title {
    color: #555;
    font-size: 24px;
    font-weight: 300;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 0.2em;
}

.card .card-image {
  display: block;
	margin: -3em;
  margin-bottom: 0;
  padding: 1em;  
  min-height: 200px;
  background-clip: padding-box;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;  
}

.card .card-image>.card-title {
  background: rgba(255,255,255,0.9);
}

.card .card-content {
  padding: 16px;
  border-radius: 0 0 2px 2px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.card .card-content p {
  margin: 0;
  color: inherit;
}
.card .card-content span.card-title {
  line-height: 48px;
}

.card a {
	color: #333;
	text-decoration: none;
}

.card a:hover {
	text-decoration: none;
	box-shadow: none;
}

@media screen and (min-width: 1px) and (max-width: 767px){
    .grid[data-columns]::before {
        content: '1 .col-xs-12';
    }
}
@media screen and (min-width:768px) and (max-width: 991px){
    .grid[data-columns]::before {
        content: '2 .col-sm-6';
    }
}
@media screen and (min-width:992px) and (max-width: 9999px){
    .grid[data-columns]::before {
        content: '3 .col-md-4';
    }
}