.php .hll { background-color: #ffffcc }
.php .c { color: #60a0b0; font-style: italic } /* Comment */
.php .err { border: 1px solid #FF0000 } /* Error */
.php .k { color: #CCCCCC; font-weight: bold } /* Keyword */
.php .o { color: #666666 } /* Operator */
.php .cm { color: #60a0b0; font-style: italic } /* Comment.Multiline */
.php .cp { color: #fff } /* Comment.Preproc */
.php .c1 { color: #60a0b0; font-style: italic } /* Comment.Single */
.php .cs { color: #60a0b0; background-color: #fff0f0 } /* Comment.Special */
.php .gd { color: #A00000 } /* Generic.Deleted */
.php .ge { font-style: italic } /* Generic.Emph */
.php .gr { color: #FF0000 } /* Generic.Error */
.php .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.php .gi { color: #00A000 } /* Generic.Inserted */
.php .go { color: #808080 } /* Generic.Output */
.php .gp { color: #c65d09; font-weight: bold } /* Generic.Prompt */
.php .gs { font-weight: bold } /* Generic.Strong */
.php .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.php .gt { color: #0040D0 } /* Generic.Traceback */
.php .kc { color: #007020; font-weight: bold } /* Keyword.Constant */
.php .kd { color: #007020; font-weight: bold } /* Keyword.Declaration */
.php .kn { color: #007020; font-weight: bold } /* Keyword.Namespace */
.php .kp { color: #007020 } /* Keyword.Pseudo */
.php .kr { color: #007020; font-weight: bold } /* Keyword.Reserved */
.php .kt { color: #902000 } /* Keyword.Type */
.php .m { color: #40a070 } /* Literal.Number */
.php .s { color: #4070a0 } /* Literal.String */
.php .na { color: #6DA5EA; } /* Name.Attribute */
.php .nb { color: #007020 } /* Name.Builtin */
.php .nc { color: #97C9D8; font-weight: bold } /* Name.Class */
.php .no { color: #97C9D8; } /* Name.Constant */
.php .nd { color: #555555; font-weight: bold } /* Name.Decorator */
.php .ni { color: #d55537; font-weight: bold } /* Name.Entity */
.php .ne { color: #97C9D8; } /* Name.Exception */
.php .nf { color: #97C9D8; } /* Name.Function */
.php .nl { color: #002070; font-weight: bold } /* Name.Label */
.php .nn { color: #0e84b5; font-weight: bold } /* Name.Namespace */
.php .nt { color: #062873; font-weight: bold } /* Name.Tag */
.php .nv { color: #bb60d5 } /* Name.Variable */
.php .ow { color: #007020; font-weight: bold } /* Operator.Word */
.php .w { color: #bbbbbb } /* Text.Whitespace */
.php .mf { color: #40a070 } /* Literal.Number.Float */
.php .mh { color: #40a070 } /* Literal.Number.Hex */
.php .mi { color: #40a070 } /* Literal.Number.Integer */
.php .mo { color: #40a070 } /* Literal.Number.Oct */
.php .sb { color: #4070a0 } /* Literal.String.Backtick */
.php .sc { color: #4070a0 } /* Literal.String.Char */
.php .sd { color: #4070a0; font-style: italic } /* Literal.String.Doc */
.php .s2 { color: #4070a0 } /* Literal.String.Double */
.php .se { color: #4070a0; font-weight: bold } /* Literal.String.Escape */
.php .sh { color: #4070a0 } /* Literal.String.Heredoc */
.php .si { color: #70a0d0; font-style: italic } /* Literal.String.Interpol */
.php .sx { color: #c65d09 } /* Literal.String.Other */
.php .sr { color: #235388 } /* Literal.String.Regex */
.php .s1 { color: #87D139 } /* Literal.String.Single */
.php .ss { color: #517918 } /* Literal.String.Symbol */
.php .bp { color: #007020 } /* Name.Builtin.Pseudo */
.php .vc { color: #bb60d5 } /* Name.Variable.Class */
.php .vg { color: #bb60d5 } /* Name.Variable.Global */
.php .vi { color: #bb60d5 } /* Name.Variable.Instance */
.php .il { color: #40a070 } /* Literal.Number.Integer.Long */

.highlight pre {
  font-family: "Bitstream Vera Sans Mono",monospace;
  background: #222;
  font-size: 85%;
  padding: 5px;
  color: #fff;
  margin-bottom: 1em;
  max-width:100%;
  overflow-y:auto;
  padding-left: 10px;
}

p code {
	color: #333;
	background: #eee;
  font-family: "Bitstream Vera Sans Mono",monospace;  
  padding: 0 5px;
}	