.php .hll { background-color: #333333 }
.php .c { color: #008800; font-style: italic; background-color: #0f140f } /* Comment */
.php .err { color: #ffffff } /* Error */
.php .g { color: #ffffff } /* Generic */
.php .k { color: #fb660a; font-weight: bold } /* Keyword */
.php .l { color: #ffffff } /* Literal */
.php .n { color: #ffffff } /* Name */
.php .o { color: #ffffff } /* Operator */
.php .x { color: #ffffff } /* Other */
.php .p { color: #ffffff } /* Punctuation */
.php .cm { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Multiline */
.php .cp { color: #ff0007; font-weight: bold; font-style: italic; background-color: #0f140f } /* Comment.Preproc */
.php .c1 { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Single */
.php .cs { color: #008800; font-style: italic; background-color: #0f140f } /* Comment.Special */
.php .gd { color: #ffffff } /* Generic.Deleted */
.php .ge { color: #ffffff } /* Generic.Emph */
.php .gr { color: #ffffff } /* Generic.Error */
.php .gh { color: #ffffff; font-weight: bold } /* Generic.Heading */
.php .gi { color: #ffffff } /* Generic.Inserted */
.php .go { color: #444444; background-color: #222222 } /* Generic.Output */
.php .gp { color: #ffffff } /* Generic.Prompt */
.php .gs { color: #ffffff } /* Generic.Strong */
.php .gu { color: #ffffff; font-weight: bold } /* Generic.Subheading */
.php .gt { color: #ffffff } /* Generic.Traceback */
.php .kc { color: #fb660a; font-weight: bold } /* Keyword.Constant */
.php .kd { color: #fb660a; font-weight: bold } /* Keyword.Declaration */
.php .kn { color: #fb660a; font-weight: bold } /* Keyword.Namespace */
.php .kp { color: #fb660a } /* Keyword.Pseudo */
.php .kr { color: #fb660a; font-weight: bold } /* Keyword.Reserved */
.php .kt { color: #cdcaa9; font-weight: bold } /* Keyword.Type */
.php .ld { color: #ffffff } /* Literal.Date */
.php .m { color: #0086f7; font-weight: bold } /* Literal.Number */
.php .s { color: #0086d2 } /* Literal.String */
.php .na { color: #ff0086; font-weight: bold } /* Name.Attribute */
.php .nb { color: #ffffff } /* Name.Builtin */
.php .nc { color: #ffffff } /* Name.Class */
.php .no { color: #0086d2 } /* Name.Constant */
.php .nd { color: #ffffff } /* Name.Decorator */
.php .ni { color: #ffffff } /* Name.Entity */
.php .ne { color: #ffffff } /* Name.Exception */
.php .nf { color: #ff0086; font-weight: bold } /* Name.Function */
.php .nl { color: #ffffff } /* Name.Label */
.php .nn { color: #ffffff } /* Name.Namespace */
.php .nx { color: #ffffff } /* Name.Other */
.php .py { color: #ffffff } /* Name.Property */
.php .nt { color: #fb660a; font-weight: bold } /* Name.Tag */
.php .nv { color: #fb660a } /* Name.Variable */
.php .ow { color: #ffffff } /* Operator.Word */
.php .w { color: #888888 } /* Text.Whitespace */
.php .mf { color: #0086f7; font-weight: bold } /* Literal.Number.Float */
.php .mh { color: #0086f7; font-weight: bold } /* Literal.Number.Hex */
.php .mi { color: #0086f7; font-weight: bold } /* Literal.Number.Integer */
.php .mo { color: #0086f7; font-weight: bold } /* Literal.Number.Oct */
.php .sb { color: #0086d2 } /* Literal.String.Backtick */
.php .sc { color: #0086d2 } /* Literal.String.Char */
.php .sd { color: #0086d2 } /* Literal.String.Doc */
.php .s2 { color: #0086d2 } /* Literal.String.Double */
.php .se { color: #0086d2 } /* Literal.String.Escape */
.php .sh { color: #0086d2 } /* Literal.String.Heredoc */
.php .si { color: #0086d2 } /* Literal.String.Interpol */
.php .sx { color: #0086d2 } /* Literal.String.Other */
.php .sr { color: #0086d2 } /* Literal.String.Regex */
.php .s1 { color: #0086d2 } /* Literal.String.Single */
.php .ss { color: #0086d2 } /* Literal.String.Symbol */
.php .bp { color: #ffffff } /* Name.Builtin.Pseudo */
.php .vc { color: #fb660a } /* Name.Variable.Class */
.php .vg { color: #fb660a } /* Name.Variable.Global */
.php .vi { color: #fb660a } /* Name.Variable.Instance */
.php .il { color: #0086f7; font-weight: bold } /* Literal.Number.Integer.Long */

.highlight pre {
  font-family: "Bitstream Vera Sans Mono",monospace;
  background: #222;
  font-size: 85%;
  padding: 5px;
  color: #fff;
  margin-bottom: 1em;
  max-width:100%;
  overflow-y:auto;
  padding-left: 10px;
}

code {
	color: white;
	background: #222;
}	
