---
layout: bootstrap
hero: hero.html
---

<div class="row">
  <div class="col-sm-4 col-lg-4 card">
    <div class="check" style="background: #B2DFDB">
      &#10003;
    </div>
    <h3>User Centric Tests</h3>
    <p>
      Codeception provides high-level domain language for tests. 
      Tests are represented as a set of user's actions. 

<code>
$I->amOnPage('/'); &nbsp;&#8658; I am on page '/'<br>
$I->click('Enter'); &#8658; I click 'Enter'<br>
$I->see('Welcome'); &#8658; I see 'Welcome'<br>
</code>

<a class="btn btn-learn" href="/docs/02-GettingStarted">Learn More</a>


      </p>
  </div>

  <div class="col-sm-4 col-lg-4  card">
      <div class="check" style="background: #D1C4E9">
      &#10003;
    </div>
    <h3>Browser Testing</h3>
    <p>
Tests can be executed using Firefox, Chrome, PhantomJS or Cloud Testing services with <strong>Selenium WebDriver</strong>. Browser can be emulated with HTTP-requests through CURL with PhpBrowser.
    <a class="btn btn-learn" href="/docs/03-AcceptanceTests">Learn More</a>
    </p>

  </div>

  <div class="col-sm-4 col-lg-4  card" >
      <div class="check" style="background: #E1BEE7">
      &#10003;
    </div>
    <h3>Framework Testing</h3>
    <p>
Tests can be executed inside a PHP framework. This way web application can be executed without web server to running faster and accessing application internals. <strong>Symfony</strong>, <strong>Laravel</strong>, <strong>Zend Framework</strong>, <strong>Yii</strong>, <strong>Phalcon</strong> are supported.<br>
<a class="btn btn-learn" href="/docs/04-FunctionalTests">Learn More</a>
    </p>
  </div>

</div>

<div class="row">
  <div class="col-sm-4 col-lg-4 card">
    <div class="check" style="background: #B2EBF2">
      &#10003;
    </div>
    <h3>API Testing</h3>
    <p>
Codeception simplifies <strong>REST</strong> and <strong>SOAP</strong> testing. 
There are flexible commands to test structure and data of JSON and XML responses.
Testing can be done over HTTP or inside a framework.

<br>
<a class="btn btn-learn" href="/docs/10-WebServices">Learn More</a>
    </p>
  </div>

  <div class="col-sm-4 col-lg-4  card">
      <div class="check" style="background: #C5CAE9">
      &#10003;
    </div>
    <h3>BDD</h3>
    <p>
<strong>Behavior Driven Development</strong> is aimed to establish one language between development, QA, and business teams.
Codeception can execute feature files written in Gherkin format as tests.
<br>
    <a class="btn btn-learn" href="/docs/07-BDD">Learn More</a>
    </p>
  </div>

  <div class="col-sm-4 col-lg-4  card" >
      <div class="check" style="background: #F8BBD0">
      &#10003;
    </div>
    <h3>Unit and Integration Testing</h3>
    <p>
Codeception is built on top of <strong>PHPUnit</strong> and is able to execute its tests. 
Integration tests can be improved with commands for database interactions.
<br>
<a class="btn btn-learn" href="/docs/05-UnitTests.md">Learn More</a>
    </p>
  </div>

</div>
</div>
</div> <!-- end fluid container -->

<div class="mission text-center">

  <p class="mission-text">
    Codeception collects and shares best practices and solutions for testing PHP web applications. With a flexible set of included modules tests are easy to write, easy to use and easy to maintain. 
    Codeception encourages developers and QA engineers to concentrate on testing and not on building test suite.
    
  </p>

  

<br>
  <a class="btn btn-lg btn-install" href="/quickstart">Start Using It Today!</a><br>

</div>  



<div class="container">
  <div class="row">

    <div class="col-sm-6 col-lg-6">
        <h3>In Action</h3>

        <img src="/images/demo.gif" style="max-width: 100%;" />
    

    <p>
    </p>
    </div>

    <div class="col-sm-6 col-lg-6">

    <h3>Blog</h3>
        <ul class="list-group">
        {% for post in site.posts limit: 3 %}
        <li class="list-group-item">
          <div class="pull-right">{{ post.date | date: "%B %d, %Y" }}</div>
          <span>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </span>
        </li>
        {% endfor %}
        </ul>


    <h3>Voice of Developers</h3>

<div id="carousel-tweets" data-interval="10000" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">



  {%include tweets.html %}

  </div>

  <!-- Controls -->
  <a class="right carousel-control" href="#carousel-tweets" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<h3>Trusted By</h3>

<div data-interval="10000" id="carousel-companies" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" style="background: #fff;">
    {% include companies.html %}
  </div>

  <!-- Controls -->
  <a class="right carousel-control" href="#carousel-companies" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<p class="text-center">
  
  <a href="https://github.com/Codeception/Codeception/wiki/Who-is-using-it%3F">...and many others. Add your company too!</a>
</p>

</div>


    </div>
  </div>
  
</div>
<script>
$(document).ready(function () {
  function randomCarousel(id) {
    var num = $(id + ' .item').length;
    var slide = Math.floor((Math.random() * num));
    $(id + ' .item').each(function(index){
      if(index == slide) {
        $(this).addClass('active');
      } else {
        $(this).removeClass('active');
      }
    });  
  }

  randomCarousel('#carousel-tweets');
  randomCarousel('#carousel-companies');
});
</script>

<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-lg-4">    
        <a href="http://phptest.club" target="_blank">

        <img src="/images/phptestclub.png" alt="" style="width: 80%;">
        <h3>Community Forum &raquo;</h3>
        </a>
        <p >Ask questions, discuss test automation in Codeception and other popular PHP testing frameworks</p>

  <hr>

                        <aside>
          <a href="https://twitter.com/codeception" class="twitter-follow-button" data-show-count="false"
          data-lang="en" data-size="large">Follow @Codeception</a>
          <script>!function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (!d.getElementById(id)) {
              js = d.createElement(s);
              js.id = id;
              js.src = "//platform.twitter.com/widgets.js";
              fjs.parentNode.insertBefore(js, fjs);
            }
          }(document, "script", "twitter-wjs");</script>
        </aside>

      </div>
      <div class="col-sm-8 col-lg-8">
        <h3 class="text-center">Get Started With</h3>
        {% include for.html %}
      </div>

    </div>


  </div>
</div>