---
layout: bootstrap
hero: hero.html
---

<div class="bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 feature">
                <h2>Benefits<span class="blue">_</span></h2>
            </div>
            <div class="col-sm-6 feature clearfix">
                <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="none" viewBox="0 0 70 70"><path stroke="#226AFD" stroke-width="5" d="M2.5 48.5h65v19h-65z"/><circle cx="34.5" cy="20.5" r="18" stroke="#226AFD" stroke-width="5"/></svg>
                <h3>User_Centric_Tests</h3>
                <p>
                    Codeception provides high-level domain language for tests.
                    Tests are represented as a set of user's actions.
                </p>
                <a class="btn btn-default" href="/docs/02-GettingStarted">Learn More</a>
            </div>
            <div class="col-sm-6 feature clearfix">
                <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="none" viewBox="0 0 70 70"><path fill="#236BFD" d="M0 0v58.333h32.083v5.834h-17.5V70h40.834v-5.833h-17.5v-5.834H70V0H0zm64.167 52.5H5.833v-5.833h58.334V52.5zm0-11.667H5.833v-35h58.334v35z"/></svg>
                <h3>Browser_Testing</h3>
                <p>
                    Tests can be executed using Firefox, Chrome, Safari or Cloud Testing services with <strong>Selenium
                    WebDriver</strong>. Browser can be emulated with HTTP-requests through CURL with PhpBrowser.
                </p>
                <a class="btn btn-default" href="/docs/03-AcceptanceTests">Learn More</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 feature clearfix">
                <svg xmlns="http://www.w3.org/2000/svg" width="70" height="71" fill="none" viewBox="0 0 70 71"><path fill="#226AFD" d="M70 20.46V.045H49.572v7.292h-14.58v24.791H26.26V17.544h-5.832v5.833H0v23.334h20.428v5.833h5.832V37.96h8.732v24.791h14.58v7.292H70V49.627H49.572v7.292h-8.748V37.96h8.748v5.833h5.832v-17.5h-5.832v5.833h-8.748V13.17h8.748v7.292H70zM55.404 5.878h8.764v8.75h-8.764v-8.75zm-34.992 35H5.832V29.211h14.58v11.666zm34.992 21.875v-7.291h8.764v8.75h-8.764v-1.459z"/></svg>
                <h3>Framework_Testing</h3>
                <p>
                    Tests can be executed inside a PHP framework. This way web application can be executed without web
                    server to
                    running faster and accessing application internals. <strong>Symfony</strong>,
                    <strong>Laravel</strong>,
                    <strong>Zend Framework</strong>, <strong>Yii</strong>, <strong>Phalcon</strong> are supported.
                </p>
                <a class="btn btn-default" href="/docs/04-FunctionalTests">Learn More</a>
            </div>
            <div class="col-sm-6 feature clearfix">
                <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="none" viewBox="0 0 70 70"><path fill="#236BFD" d="M8.75 23.333v23.334h5.833v-5.834h5.834v5.834h5.833V23.333H8.75zM20.417 35h-5.834v-5.833h5.834V35zm17.5-11.667h-5.834v23.334h5.834v-5.834h11.666v-17.5H37.917zM43.75 35h-5.833v-5.833h5.833V35zm17.5-11.667h-5.833v23.334h5.833V23.333zM42.04 7.292 35 .249l-7.04 7.043H0v11.666h5.833v-5.833h24.541L35 8.501l4.626 4.624h24.54v5.833H70V7.292H42.04zm22.127 43.75v5.833H39.626L35 61.499l-4.626-4.624H5.834v-5.833H0v11.666h27.96L35 69.751l7.04-7.043H70V51.042h-5.833z"/></svg>
                <h3>API_Testing</h3>
                <p>
                    Codeception simplifies <strong>REST</strong> and <strong>SOAP</strong> testing.
                    There are flexible commands to test structure and data of JSON and XML responses.
                    Testing can be done over HTTP or inside a framework.
                </p>
                <a class="btn btn-default" href="/docs/10-APITesting">Learn More</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 feature clearfix">
                <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="none" viewBox="0 0 70 70"><path fill="#236BFD" d="M0 0v70h70V0H0zm64.167 64.167H5.833V17.5h58.334v46.667zm0-52.5H5.833V5.833h58.334v5.834z"/></svg>
                <h3>Data Driven Tests_</h3>
                <p>
                    Connect to various data sources
                    <strong>MySQL, PostgreSQL, MongoDB, Redis, Memcache</strong> to use their data inside tests.
                    Take <strong>snapshots</strong> to compare data changes with previous runs.
                </p>
                <a class="btn btn-default" href="/docs/09-Data">Learn More</a>
            </div>
            <div class="col-sm-6 feature clearfix">
                <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="none" viewBox="0 0 70 70"><path fill="#236BFD" d="M70 5.833V0H0v70h70V58.333h-5.833v5.834h-5.834V50.512C65.384 47.172 70 40.017 70 32.083c0-8.645-5.472-16.378-13.615-19.245L52.5 11.47v17.696h-5.833V11.47l-3.885 1.368c-8.144 2.866-13.615 10.6-13.615 19.244a20.42 20.42 0 0 0 11.666 18.43v13.654h-35V17.5h23.334v-5.833H5.833V5.833H70zM52.5 64.167h-5.833V52.293c.256.036.519.057.778.083.171.018.342.04.514.056a20.95 20.95 0 0 0 3.247 0c.177-.015.352-.038.527-.057.257-.027.513-.046.767-.082v11.874zM35 32.083c0-4.668 2.231-8.963 5.833-11.665V35h17.5V20.418a14.595 14.595 0 0 1 5.834 11.665 14.589 14.589 0 0 1-9.738 13.75c-2.307.83-4.875 1.036-7.313.622-.817-.14-1.62-.35-2.398-.63C38.905 43.781 35 38.256 35 32.083z"/><path fill="#236BFD" d="M17.5 52.5V29.167h5.833v-5.834H11.667v35h17.5V52.5H17.5z"/></svg>
                <h3>Unit & Integration Testing</h3>
                <p>
                    Codeception is built on top of <strong>PHPUnit</strong> and is able to execute its tests.
                </p>
                <a class="btn btn-default" href="/docs/05-UnitTests">Learn More</a>
            </div>
        </div>
    </div>
</div>
<div class="bg-white community-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-6">
                <h3 class="text-center">Voice of Developers_</h3>
                <div id="carousel-tweets" data-interval="10000" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" title="tweets">
                        {%include tweets.html %}
                    </div>
                    <!-- Controls -->
                    <a class="right carousel-control" href="#carousel-tweets" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-lg-6">
                <h3 class="text-center">Trusted By_</h3>
                <div data-interval="10000" id="carousel-companies" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" title="companies">
                        {% include companies.html %}
                    </div>
                    <!-- Controls -->
                    <a class="right carousel-control" href="#carousel-companies" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <p class="text-center">
                    <a href="https://github.com/Codeception/Codeception/wiki/Who-is-using-it%3F">...and many others. Add
                        your
                        company too!</a>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="bg-grey">
    <div class="container">
        <h2 class="text-center">Use_With</h2>
        {% include frameworks.html %}
    </div>
</div>
