---
layout: bootstrap
hero: hero.html
---

<div class="bg-white">
  <div class="container">
    <div class="row">

      <div class="col-lg-12 feature">
        <h2>Benefits<span class="blue">_</span></h2>
      </div>

      <div class="col-sm-6 feature clearfix">
        <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x="2.5" y="48.5" width="65" height="19" stroke="#226AFD" stroke-width="5"/>
          <circle cx="34.5" cy="20.5" r="18" stroke="#226AFD" stroke-width="5"/>
        </svg>

        <h3>User_Centric_Tests</h3>

        <p>
          Codeception provides high-level domain language for tests.
          Tests are represented as a set of user's actions.
        </p>

        <a class="btn btn-default" href="/docs/02-GettingStarted">Learn More</a>
      </div>

      <div class="col-sm-6 feature clearfix">
        <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M0 0V40.8333V46.6667V58.3333H32.0833V64.1667H14.5833V70H32.0833H37.9167H55.4167V64.1667H37.9167V58.3333H70V46.6667V40.8333V0H0ZM64.1667 52.5H37.9167H32.0833H5.83333V46.6667H64.1667V52.5ZM64.1667 40.8333H5.83333V5.83333H64.1667V40.8333Z"
            fill="#236BFD"/>
        </svg>

        <h3>Browser_Testing</h3>

        <p>
          Tests can be executed using Firefox, Chrome, Safari or Cloud Testing services with <strong>Selenium
          WebDriver</strong>. Browser can be emulated with HTTP-requests through CURL with PhpBrowser.
        </p>

        <a class="btn btn-default" href="/docs/03-AcceptanceTests">Learn More</a>
      </div>
    </div>


    <div class="row">

      <div class="col-sm-6 feature clearfix">
        <svg width="70" height="71" viewBox="0 0 70 71" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M70 20.4606V0.0439453H49.572V7.33561H34.992V32.1273H26.26V17.5439H20.428V23.3773H0V46.7106H20.428V52.5439H26.26V37.9606H34.992V62.7523H49.572V70.0439H70V49.6273H49.572V56.9189H40.824V37.9606H49.572V43.7939H55.404V26.2939H49.572V32.1273H40.824V13.1689H49.572V20.4606H70ZM55.404 5.87728H64.168V14.6273H55.404V5.87728ZM20.412 40.8773H5.832V29.2106H20.412V40.8773ZM55.404 62.7523V56.9189V55.4606H64.168V64.2106H55.404V62.7523Z"
            fill="#226AFD"/>
        </svg>

        <h3>Framework_Testing</h3>

        <p>
          Tests can be executed inside a PHP framework. This way web application can be executed without web server to
          running faster and accessing application internals. <strong>Symfony</strong>, <strong>Laravel</strong>,
          <strong>Zend Framework</strong>, <strong>Yii</strong>, <strong>Phalcon</strong> are supported.
        </p>

        <a class="btn btn-default" href="/docs/04-FunctionalTests">Learn More</a>
      </div>

      <div class="col-sm-6 feature clearfix">
        <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M8.75 23.3334V35V40.8334V46.6667H14.5833V40.8334H20.4167V46.6667H26.25V40.8334V35V23.3334H8.75ZM20.4167 35H14.5833V29.1667H20.4167V35Z"
            fill="#236BFD"/>
          <path
            d="M37.9167 23.3334H32.0833V40.8334V46.6667H37.9167V40.8334H49.5833V23.3334H37.9167ZM43.75 35H37.9167V29.1667H43.75V35Z"
            fill="#236BFD"/>
          <path d="M61.25 23.3334H55.4167V46.6667H61.25V23.3334Z" fill="#236BFD"/>
          <path
            d="M42.0408 7.29168L35 0.24939L27.9592 7.29168H0V18.9583H5.83333V13.125H30.3742L35 8.50064L39.6258 13.125H64.1667V18.9583H70V7.29168H42.0408Z"
            fill="#236BFD"/>
          <path
            d="M64.1667 51.0417V56.875H39.6258L35 61.4994L30.3742 56.875H5.83333V51.0417H0V62.7083H27.9592L35 69.7506L42.0408 62.7083H70V51.0417H64.1667Z"
            fill="#236BFD"/>
        </svg>

        <h3>API_Testing</h3>

        <p>
          Codeception simplifies <strong>REST</strong> and <strong>SOAP</strong> testing.
          There are flexible commands to test structure and data of JSON and XML responses.
          Testing can be done over HTTP or inside a framework.
        </p>

        <a class="btn btn-default" href="/docs/10-APITesting">Learn More</a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 feature clearfix">
        <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M0 0V11.6667V17.5V70H70V17.5V11.6667V0H0ZM64.1667 64.1667H5.83333V17.5H64.1667V64.1667ZM64.1667 11.6667H5.83333V5.83333H64.1667V11.6667Z"
            fill="#236BFD"/>
        </svg>

        <h3>Data Driven Tests_</h3>

        <p>
          Connect to various data sources
          <strong>MySQL, PostgreSQL, MongoDB, Redis, Memcache</strong> to use their data inside tests.
          Take <strong>snapshots</strong> to compare data changes with previous runs.
        </p>

        <a class="btn btn-default" href="/docs/09-Data">Learn More</a>
      </div>

      <div class="col-sm-6 feature clearfix">
        <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M70 5.83333V0H0V11.6667V17.5V70H40.8333H58.3333H70V58.3333H64.1667V64.1667H58.3333V50.5123C65.3844 47.1713 70 40.0167 70 32.0833C70 23.4383 64.5283 15.7048 56.385 12.8377L52.5 11.4713V29.1667H46.6667V11.4713L42.7817 12.8392C34.6383 15.7048 29.1667 23.4383 29.1667 32.0833C29.1667 40.021 33.7881 47.1815 40.8333 50.5138V64.1667H5.83333V17.5H29.1667V11.6667H5.83333V5.83333H70ZM52.5 64.1667H46.6667V52.2929C46.9233 52.3294 47.1858 52.3498 47.4454 52.376C47.616 52.3935 47.7867 52.4169 47.9588 52.4315C49.0379 52.516 50.1273 52.516 51.2065 52.4315C51.3829 52.4169 51.5579 52.3935 51.7329 52.3746C51.9896 52.3483 52.2463 52.3294 52.5 52.2929V64.1667ZM35 32.0833C35 27.4152 37.2313 23.1204 40.8333 20.4181V35H58.3333V20.4181C61.9354 23.1204 64.1667 27.4152 64.1667 32.0833C64.1667 38.2565 60.2613 43.7806 54.4294 45.8325C52.1223 46.6623 49.5542 46.8694 47.1158 46.4552C46.2992 46.3152 45.4956 46.1052 44.7183 45.8252C38.9054 43.7806 35 38.2565 35 32.0833Z"
            fill="#236BFD"/>
          <path d="M17.5 52.5V29.1667H23.3333V23.3333H11.6667V58.3333H29.1667V52.5H17.5Z" fill="#236BFD"/>
        </svg>

        <h3>Unit & Integration Testing</h3>

        <p>
          Codeception is built on top of <strong>PHPUnit</strong> and is able to execute its tests.
        </p>

        <a class="btn btn-default" href="/docs/05-UnitTests">Learn More</a>
      </div>
    </div>
  </div>
</div>

<div class="bg-white community-wrapper">

  <div class="container">


    <div class="row">


      <div class="col-sm-12 col-lg-6">
        <h3 class="text-center">Voice of Developers_</h3>

        <div id="carousel-tweets" data-interval="10000" class="carousel slide" data-ride="carousel">

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">


            {%include tweets.html %}

          </div>

          <!-- Controls -->
          <a class="right carousel-control" href="#carousel-tweets" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

      <div class="col-sm-12 col-lg-6">
        <h3 class="text-center">Trusted By_</h3>

        <div data-interval="10000" id="carousel-companies" class="carousel slide" data-ride="carousel">

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            {% include companies.html %}
          </div>

          <!-- Controls -->
          <a class="right carousel-control" href="#carousel-companies" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <p class="text-center">

          <a href="https://github.com/Codeception/Codeception/wiki/Who-is-using-it%3F">...and many others. Add your
            company too!</a>
        </p>

      </div>
    </div>
  </div>
</div>

<div class="bg-grey">
  <div class="container">
    <h2 class="text-center">Use_With</h2>
    {% include for.html %}
  </div>
</div>
