<div class="item">      
  <a target="_blank" rel="nofollow" href="http://rebilly.com"><img src="/images/Rebilly.png" alt="Rebilly"></a>
</div>

<div class="item">      
  <a target="_blank" rel="nofollow" href="http://depositphotos.com/"><img src="/images/companies/depositphotos.png" alt="Deposit Photos"></a>
</div>

<div class="item">      
  <a target="_blank" rel="nofollow" href="http://www.pdffiller.com"><img src="/images/companies/logo-pdffiller.svg" alt="PDF Filler"></a>
</div>

<div class="item">      
  <a target="_blank" rel="nofollow" href="http://gen.tech"><img src="/images/companies/genesis.png" alt="Genesis Tech"></a>
</div>
<div class="item">      
  <a target="_blank" rel="nofollow" href="http://spryker.com"><img src="/images/spryker.png" alt="Spryker"></a>
</div>

<div class="item">      
  <a target="_blank" rel="nofollow" href="http://2amigos.us"><img src="/images/2amigos.png" alt="2 Amigos"></a>
</div>



<div class="item">      
  <a target="_blank" rel="nofollow" href="http://magmadigital.co.uk/"><img src="/images/companies/magma.svg" style="background-color: #3c3c3b; width: 100%;" alt="Magma Digital"></a>
</div>

<div class="item">      
  <a target="_blank" rel="nofollow" href="http://www.payback.net/de/en/home/"><img src="/images/companies/payback.png" alt="Magma Digital"></a>
</div>