<div class="item">
  <a target="_blank" rel="nofollow" href="https://www.rebilly.com/"><img src="/images/Rebilly.png" alt="Rebilly"></a>
</div>

<div class="item">
  <a target="_blank" rel="nofollow" href="https://depositphotos.com/"><img src="/images/companies/depositphotos.png" alt="Deposit Photos"></a>
</div>

<div class="item">
  <a target="_blank" rel="nofollow" href="https://www.pdffiller.com"><img src="/images/companies/logo-pdffiller.svg" alt="PDF Filler"></a>
</div>

<div class="item">
  <a target="_blank" rel="nofollow" href="https://gen.tech"><img src="/images/companies/genesis.png" alt="Genesis Tech"></a>
</div>

<div class="item">
  <a target="_blank" rel="nofollow" href="https://spryker.com"><img src="/images/companies/spryker.png" alt="Spryker"></a>
</div>

<div class="item">
  <a target="_blank" rel="nofollow" href="https://2amigos.us"><img src="/images/2amigos.png" alt="2 Amigos"></a>
</div>

<div class="item item--company-magma">
  <a target="_blank" rel="nofollow" href="https://magmadigital.co.uk/"><img src="/images/companies/magma.svg" alt="Magma Digital"></a>
</div>

<div class="item">
  <a target="_blank" rel="nofollow" href="https://www.payback.net/de/en/home/"><img src="/images/companies/payback.png" alt="Magma Digital"></a>
</div>