<div class="row casestudy">
  <div class="col-sm-4">
    <a href="/docs/modules/Symfony" class="item img-thumbnail bg-white item--symfony">
      <div>
        <img src="/images/frameworks/symfony.svg" alt="Symfony">
        <h4>Symfony</h4>
      </div>
    </a>
  </div>
  <div class="col-sm-4">
    <a href="/for/laravel" class="img-thumbnail item bg-white item--laravel">
      <div>
        <img src="/images/frameworks/laravel.svg" alt="laravel">
        <h4>Laravel</h4>
      </div>
    </a>
  </div>
  <div class="col-sm-4">
    <a href="https://github.com/lucatume/wp-browser" class="img-thumbnail bg-white item item--wp">
      <div>
        <img src="/images/frameworks/wordpress.svg" alt="wordPress">
        <h4>WordPress</h4>
      </div>
    </a>
  </div>
</div>

<div class="row casestudy">
  <div class="col-sm-4">
    <a href="/for/joomla" class="item img-thumbnail bg-white item--joomla">
      <div>
        <img src="/images/frameworks/joomla.svg" alt="joomla">
        <h4>joomla</h4>
      </div>
    </a>
  </div>
  <div class="col-sm-4">
    <a href="/for/yii" class="img-thumbnail item bg-white item--yii">
      <div>
        <img src="/images/frameworks/yii-logo.svg" alt="yii">
        <h4>Yii Framework</h4>
      </div>
    </a>
  </div>
  
  <div class="col-sm-4">
    <a href="/for/phalcon" class="img-thumbnail bg-white item item--phalcon">
      <div>
        <img src="/images/frameworks/phalcon-logo.svg" alt="Phalcon">
        <h4>Phalcon</h4>
      </div>
    </a>
  </div>
</div>

