<div class="row casestudy">
  <div class="col-sm-12 col-lg-4">
    <a href="/for/symfony" class="item img-thumbnail bg-white item--symfony">
      <img src="/images/frameworks/symfony_black_03.svg" alt="Symfony">
    </a>
  </div>
  <div class="col-sm-12 col-lg-4">
    <a href="/for/laravel" class="img-thumbnail item bg-white item--laravel">
      <div><img src="/images/frameworks/laravel.svg" alt="">
      <h4>Laravel</h4>
      </div>
    </a>
  </div>
  <div class="col-sm-12 col-lg-4">
    <a href="/for/wordpress" class="img-thumbnail bg-white item item--wp">
      <div>        
        <img src="/images/frameworks/WordPress-logotype-simplified.png" alt="">
        <h4>WordPress</h4>
      </div>
    </a>
  </div>  
</div>

<div class="row casestudy">
  <div class="col-sm-12 col-lg-4">
    <a href="/for/joomla" class="item img-thumbnail bg-white item--joomla">
      <img src="/images/frameworks/joomla.png" alt="" style="width: 200px; height: 200px">
    </a>
  </div>
  <div class="col-sm-12 col-lg-4">
    <a href="/for/yii" class="img-thumbnail item bg-white item--yii">
      <div><img src="/images/frameworks/yii-logo.svg" alt="">
      <h4>Yii Framework</h4>
      </div>
    </a>
  </div>
  <div class="col-sm-12 col-lg-4">
    <div class="img-thumbnail bg-white item item--zend">
      <div>        
        <img src="/images/frameworks/zf-logo-mark.png" style="width: 200px; opacity: 0.5" alt="">
        <h4>Zend Framework</h4>
      </div>
    </div>
  </div>  
</div>

