<div class="row casestudy">
  <div class="col-sm-4">
    <a href="/for/symfony" class="item img-thumbnail bg-white item--symfony">
      <img src="/images/frameworks/symfony_black_03.svg" alt="Symfony">
    </a>
  </div>
  <div class="col-sm-4">
    <a href="/for/laravel" class="img-thumbnail item bg-white item--laravel">
      <div>
        <img src="/images/frameworks/laravel.svg" alt="laravel">
        <h4>Laravel</h4>
      </div>
    </a>
  </div>
  <div class="col-sm-4">
    <a href="/for/wordpress" class="img-thumbnail bg-white item item--wp">
      <div>
        <img src="/images/frameworks/WordPress-logotype-simplified.png" alt="wordPress">
        <h4>WordPress</h4>
      </div>
    </a>
  </div>
</div>

<div class="row casestudy">
  <div class="col-sm-4">
    <a href="/for/joomla" class="item img-thumbnail bg-white item--joomla">
      <img src="/images/frameworks/joomla.png" alt="joomla">
    </a>
  </div>
  <div class="col-sm-4">
    <a href="/for/yii" class="img-thumbnail item bg-white item--yii">
      <div>
        <img src="/images/frameworks/yii-logo.svg" alt="yii">
        <h4>Yii Framework</h4>
      </div>
    </a>
  </div>
  <a class="col-sm-4">
    <a href="/for/phalcon" class="img-thumbnail bg-white item item--phalcon">
      <div>
        <img src="/images/frameworks/phalcon-black.svg" alt="Phalcon">
        <h4>Phalcon</h4>
      </div>
    </a>
  </div>
</div>

