<!-- Adding the new Homepage here -->



<div id="home-hero">
  <div class="container">
  <div class="bubble">

    <img src="/images/code-example.svg" class="visible-lg-block" style="float: right;
  width: 400px;
  box-shadow: 7px 8px 19px #3333331a;
  border-radius: 5px;
  margin-left: 10px;" alt="">

    <h1>PHP Testing for <br>everyone<span class="blue">_</span></h1>
    
    <p class="lead">
        
Codeception collects and shares best practices and solutions for testing PHP web applications. With a flexible set of included modules tests are easy to write, easy to use and easy to maintain.<br>

    </p>    

    <div class="row home-btns">
          <a class="btn btn-lg btn-install" href="/quickstart">Quick Start</a>&nbsp;
          <a class="btn btn-lg btn-default" href="http://sdclabs.com/codeception?utm_source=codeception.com&utm_medium=cover_section&utm_term=big_button&utm_campaign=reference">Enterprise Support</a>

    </div> <!-- /.row -->
    </div>



  </div>
</div>

