<!-- Adding the new Homepage here -->

<div id="home-hero">
  <div class="container">
    <div class="bubble">
      <img src="/images/code-example.svg" class="code-example visible-lg-block" alt="code example">

      <h1>PHP Testing for <br>everyone<span class="blue">_</span></h1>

      <p class="lead">
        Codeception collects and shares best practices and solutions for testing PHP web applications. With a flexible
        set of included modules tests are easy to write, easy to use and easy to maintain.<br>
      </p>

      <div class="home-btns">
        <a class="btn btn-lg btn-install" href="/quickstart">Quick Start</a>&nbsp;
        <a class="btn btn-lg btn-default"
           href="https://sdclabs.com/codeception?utm_source=codeception.com&utm_medium=cover_section&utm_term=big_button&utm_campaign=reference">Enterprise
          Support</a>
      </div> <!-- /.row -->
      <div class="text-left">
        <a href="http://longhornphp.com" target="_blank"><img style="width: 100%;" src="/images/longhornphp.jpg" alt="Longhorn PHP Conference"></a>
      </div>
    </div>
  </div>
</div>

