<div class="hero" style="background-image: url(/images/backgrounds/laravel.jpg); ">

  <div class="wide">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-sm-12 text-right">       
        <h1><div class="quiet">Codeception for</div><img src="/images/frameworks/laravel.png" alt="Laravel Framework" style="width: 200px; border-radius: 50px;"> Laravel</h1>
        
      </div>

      <div class="col-lg-4 col-sm-12">
        <div class="maintainer">
          <h4><a href="/docs/modules/Laravel5">Laravel Module</a></h4>
          <p>Maintainer</p>
          <p><img src="https://avatars3.githubusercontent.com/u/1123080?v=3&s=100" alt=""></p>
          <p><strong>Jan-Henk Gerritsen</strong></p>
          <p><a href="https://github.com/janhenkgerritsen">GitHub</a></p>
          <p>janhenkgerritsen<img src="/images/email.png" alt="@" style="height: 14px;"> </p>
        </div>


      </div>       
    </div>

    

    
  </div>
</div>


</div>