<div class="panel-group panel-group--phar" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Download Codeception v5 Phar Executable for PHP 8.0+
        </a>
      </h4>
    </div>

    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" href="#collapseOne">

      <div class="panel-collapse-body">
        <div class="row">
          <div class="col-lg-3">

            <a href="/thanks_php80" class="btn btn-success btn-expand">Download</a>
          </div>
          <div class="col-lg-9">

            <div class="highlight">
              <pre>wget https://codeception.com/php80/codecept.phar<a href="/thanks_php80" class="phar-download" target="_blank">download <span
                      class="glyphicon glyphicon-download"></span></a></pre>
            </div>

          </div>

        </div>
        <p>
          Execute it as

          <code>php codecept.phar</code></p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
          Download Codeception v4 Phar for PHP 7.2 - 8.2
        </a>
      </h4>
    </div>

    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseTwo">

      <div class="panel-collapse-body">
        <div class="row">
          <div class="col-lg-3">

            <a href="/thanks" class="btn btn-success btn-expand">Download</a>
          </div>
          <div class="col-lg-9">

            <div class="highlight">
              <pre>wget https://codeception.com/codecept.phar<a href="/thanks" class="phar-download" target="_blank">download <span
                class="glyphicon glyphicon-download"></span></a></pre>
            </div>

          </div>

        </div>
        <p>
          Execute it as

          <code>php codecept.phar</code></p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
          Download Codeception v4 Phar for PHP 5.6 - 7.1
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-collapse-body">
        <div class="row">
          <div class="col-lg-3">
            <a href="/thanks_php5" target="_blank" class="btn btn-success btn-expand">Download</a>
          </div>
          <div class="col-lg-9">

            <div class="highlight">
              <pre>wget https://codeception.com/php56/codecept.phar<a href="/thanks_php5" class="phar-download"
                                                                      target="_blank">download <span
                class="glyphicon glyphicon-download"></span></a></pre>
            </div>

          </div>
        </div>
        <p>
          Execute it as

          <code>php codecept.phar</code></p>
      </div>
    </div>

  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
          Install Phar Globally
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-collapse-body">
        <div class="highlight">

          <pre>sudo curl -LsS https://codeception.com/php80/codecept.phar -o /usr/local/bin/codecept</pre>
          <pre>sudo chmod a+x /usr/local/bin/codecept</pre>
        </div>
        <p>
          Execute it as

          <code>codecept</code></p>

      </div>
    </div>
  </div>

</div>
