<div class="support-wrapper sponsors-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-offset-3 col-md-6 text-center">
        <a href="https://opencollective.com/codeception/contribute/premium-partner-11916/checkout">
          <h3>Premium Sponsors</h3>
        </a>


        <a href="https://somewherewarm.com/" rel="nofollow" class="sponsors-item">
          <img src="https://images.opencollective.com/somewherewarmgr/f8b567b/logo/256.png" alt="SomewhereWarm" title="SomewhereWarm - Living and breathing all things WooCommerce. " class="sponsors sponsors--somewherewarm">
        </a>


        <a href="https://opencollective.com/codeception/contribute/sponsor-11887/checkout">
          <h4>Sponsors</h4>
        </a>

        <a href="https://www.dharmamatch.com/" rel="nofollow" class="sponsors-item">
          <img src="https://images.opencollective.com/dharmamatch/0a680ca/logo/256.png" alt="dharmaMatch" title="dharmaMatch is one of the longest running match-making platforms for Buddhists, Hindus, Yogis, and other spiritually-minded individuals." class="sponsors">
        </a>&nbsp;

        <a href="https://edubirdie.com/" rel="nofollow" class="sponsors-item">
          <img src="https://images.opencollective.com/essay-writing-service-edu-birdie/b1d51ab/logo/256.png" class="sponsors">
        </a>
        &nbsp;


        <a href="https://themeisle.com/" rel="nofollow" class="sponsors-item">
          <img src="/images/support/themeisle.png" class="sponsors sponsors--themeisle" title="themeisle" alt="Themeisle - Premium WordPress themes, Templates &amp; Plugins">
        </a>

      </div>
    </div>
  </div>
</div>