<div class="support-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 text-center">
        <a href="https://opencollective.com/codeception/contribute/premium-partner-11916/checkout">
          <h3>Premium Sponsors</h3>
        </a>

        <div class="support">
          <a href="https://somewherewarm.com/" rel="nofollow" class="support-item support-item--premium">
            <img src="https://images.opencollective.com/somewherewarmgr/f8b567b/logo/256.png" alt="SomewhereWarm" title="SomewhereWarm - Living and breathing all things WooCommerce.">
          </a>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-12 text-center">

        <a href="https://opencollective.com/codeception/contribute/sponsor-11887/checkout">
          <h4>Sponsors</h4>
        </a>

        <div class="support">
          <a href="https://themeisle.com/" rel="nofollow" class="support-item">
            <img src="/images/support/themeisle.png" title="themeisle" alt="Themeisle - Premium WordPress themes, Templates &amp; Plugins">
          </a>

          <a href=" https://en.vpnwelt.com/ " rel="nofollow" class="support-item">
            <img src="/images/support/vpnwelt.png" title="VPNwelt" alt="VPNwelt - Privacy Protection on the Internet 2021">
          </a>

          <a href="https://translationreport.com/" rel="nofollow" class="support-item">
            <img src="/images/support/translationreport.png" title="translation report" alt="Best Translation Site Reviews by TranslationReport">
          </a>
        </div>

      </div>
    </div>
  </div>
</div>
