<div class="hero" style="background-image: url(/images/backgrounds/symfony.jpg); ">

  <div class="wide">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-sm-12 text-right">       
        <h1><div class="quiet">Codeception for</div><img src="/images/frameworks/symfony.png" alt="Symfony Framework" style="width: 70%; max-width: 800px;"></h1>
        
      </div>

      <div class="col-lg-4 col-sm-12">
        <div class="maintainer">
          <h4><a href="/docs/modules/Symfony">Symfony Module</a></h4>
          <p>Maintainer</p>
          <p><img src="https://avatars1.githubusercontent.com/u/76889?v=3&s=100" alt=""></p>
          <p><strong>Raul Ferriz</strong></p>
          <p><a href="https://github.com/raistlin">GitHub</a></p>
          <p>raistlin<img src="/images/email.png" alt="@" style="height: 14px;"> </p>
        </div>


      </div>       
    </div>

    

    
  </div>
</div>


</div>