<div class="item active">
  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">A couple of weeks ago we migrated from Zend
    Framework 1 to Symfony 3 and all the functional tests kept working. We basically only needed to replace the ZF1
    module with the Symfony module. Thanks <a
      href="https://twitter.com/codeception?ref_src=twsrc%5Etfw">@codeception</a> for your awesome work there!</p>&mdash;
    Matthias Noback (@matthiasnoback) <a
      href="https://twitter.com/matthiasnoback/status/1090249232303489025?ref_src=twsrc%5Etfw">January 29, 2019</a>
  </blockquote>
</div>

<div class="item">
  <blockquote class="twitter-tweet" data-partner="tweetdeck"><p lang="en" dir="ltr">I remember tearing hair out for half
    a day trying to write a unit test asserting that a route renders a certain view. <a
      href="https://twitter.com/codeception">@codeception</a> = 5 min.</p>&mdash; Michael Sullivan (@regularmike) <a
    href="https://twitter.com/regularmike/status/718065313452060673">April 7, 2016</a>
  </blockquote>
</div>

<div class="item">
  <blockquote class="twitter-tweet" data-partner="tweetdeck"><p lang="en" dir="ltr">Two years ago I decided to make <a
    href="https://twitter.com/codeception">@codeception</a> the testing tool of the whole PAYBACK Global web dev. It was
    the best decision I ever made.</p>&mdash; Lars Frantzen (@frantzencd) <a
    href="https://twitter.com/frantzencd/status/870578932810223617">June 2, 2017</a>
  </blockquote>
</div>

<div class="item">
  <blockquote class="twitter-tweet" data-partner="tweetdeck"><p lang="en" dir="ltr"><a
    href="https://twitter.com/codeception">@codeception</a> Wow, using pageobject and stepobject with cest test types is
    awesome. So much flexibility <a href="https://twitter.com/hashtag/testing?src=hash">#testing</a> <a
      href="https://twitter.com/hashtag/php?src=hash">#php</a></p>&mdash; Mario Bašić (@ShockMario) <a
    href="https://twitter.com/ShockMario/status/677491552013389825">December 17, 2015</a>
  </blockquote>
</div>

<div class="item">
  <blockquote class="twitter-tweet" data-partner="tweetdeck"><p lang="en" dir="ltr">Spending my life writing tests for
    <a href="https://twitter.com/orderswift">@orderswift</a> right now. Really impressed with <a
      href="https://twitter.com/codeception">@codeception</a> which makes thing a hell of a lot easier.</p>&mdash; Rich
    Martell (@RichMartell) <a href="https://twitter.com/RichMartell/status/646265421876850688">September 22, 2015</a>
  </blockquote>
</div>

<div class="item">
  <blockquote class="twitter-tweet" data-partner="tweetdeck"><p lang="en" dir="ltr">.<a
    href="https://twitter.com/zachwills">@zachwills</a> showing everyone <a href="https://twitter.com/codeception">@codeception</a>
    as a great way to do acceptance testing of legacy code. <a href="https://t.co/gWXYbGhbAW">https://t.co/gWXYbGhbAW</a>
    Great tool! <a href="https://twitter.com/hashtag/wctpa?src=hash">#wctpa</a></p>&mdash; Shawn Hooper (@ShawnHooper)
    <a href="https://twitter.com/ShawnHooper/status/647788564571230208">September 26, 2015</a>
  </blockquote>
</div>

<div class="item">
  <blockquote class="twitter-tweet" data-partner="tweetdeck"><p lang="en" dir="ltr">Thank you <a
    href="https://twitter.com/codeception">@codeception</a> you just made my life easier <a
    href="https://twitter.com/hashtag/php?src=hash">#php</a> <a href="https://twitter.com/hashtag/testing?src=hash">#testing</a>
  </p>&mdash; Rock Lobster (@lorenzoferrara) <a href="https://twitter.com/lorenzoferrara/status/636232359881392130">August
    25, 2015</a>
  </blockquote>
</div>

<!-- add your own tweets -->
