<div class="hero" style="background-image: url(/images/backgrounds/wordpress.jpg); background-color: #fff; ">

  <div class="wide">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-sm-12 text-center" style="margin-top: 80px;">       
        <h1><div class="quiet" style="color: #464646">Codeception for</div><img src="/images/frameworks/wordpress.png" alt="WordPress"></h1>
        
      </div>

      <div class="col-lg-4 col-sm-12">
      </div>       
    </div>

    

    
  </div>
</div>


</div>