<div class="hero" style="background-color: #fff; height: 50%; background: #7f8c8d; padding-bottom: 30px; padding-top: 0">

  <div class="wide">
  <div class="container-fluid" style="color: #666 !important;">
    <div class="row">
      <div class="col-lg-8 col-sm-12 text-center" style="background: #fff; padding-top: 5%; padding-bottom: 5%; box-shadow:0 5px 10px #666;">       
        <h1><div class="quiet" style="color: #666">Codeception for</div><img src="/images/frameworks/yii.png" alt="Yii Framework" style="width: 70%; max-width: 800px;"></h1>
        
      </div>

      <div class="col-lg-4 col-sm-12" style="color: #666;">
        <div class="maintainer" style="border: none; float: left;" >
          <h4><a href="/docs/modules/Yii2">Yii2 Module</a></h4>
          <p>Maintainer</p>
          <p><img src="https://avatars0.githubusercontent.com/u/47294?v=3&s=100" alt=""></p>
          <p><strong>Alex Makarov</strong></p>
          <p><a href="https://github.com/samdark">GitHub</a></p>
          <p>samdark<img src="/images/email.png" alt="@" style="height: 14px;"></p>
        </div>


      </div>       
    </div>

    

    
  </div>
</div>


</div>