<div class="hero" style="background-image: url(/images/backgrounds/zf.jpg); ">

  <div class="wide">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-8 col-sm-12 text-right">
          <h1>
            <span class="quiet">Codeception for</span>

            <img src="/images/frameworks/zf2.png" alt="Laravel Framework" style="width: 200px; border-radius: 50px;">
            Zend Framework 2
          </h1>
        </div>

        <div class="col-lg-4 col-sm-12">
          <div class="maintainer">
            <h4><a href="/docs/modules/ZF2">ZF2 Module</a></h4>
            <p>Maintainer</p>
            <p><img src="https://avatars0.githubusercontent.com/u/395992?v=3&s=100" alt=""></p>
            <p><strong>Gintautas Miselis</strong></p>
            <p><a href="https://github.com/Naktibalda">GitHub</a></p>
            <p>naktibalda<img src="/images/email.png" alt="@" style="height: 14px;"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>