<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="title" content="Codeception - BDD-style PHP testing framework" />
    <title> {% if page.title %} {{ page.title }} Collection of symfony framework tools - Symfohub: useful libs for symfony frameworks</title> {% endif %}  
    <link rel="shortcut icon" href="/images/favicon.png" />
        <link href='http://fonts.googleapis.com/css?family=Philosopher&subset=latin' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/screen.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/css/syntax.css" />
  </head>
  <body>
  <div id="root">

  <div class="head">

    <div class="nav">
    <a href="/" style="color: white; float: left; font-size: 2.3em; text-decoration: none; font-family:'Philosopher', arial, serif;">Codeception</a>
      <ul><li>
        <a href="https://github.com/Codeception/Codeception">FORK ON GITHUB</a></li>
        <li><a class="active" href="/install">GET IT NOW!</a>
      </li></ul>
  </div>

  </div>

  <div class="layout">
    <div class="content">           
      <div>
            {{ content }}
      </div>  
    </div>
    <div class="sidebar">
      <div class="inner">           
      </div>
    </div>
    </div>
    <div id="root_footer"></div>
  </div>

  <div id="footer">
    <div class="inner">

      <div class="col">
        <div class="footnote">
          <h4>Related links</h4>
          <h4>Powered by GitHub</h4>

          <div class="small">
            Works with Jakyll and Github.
          </div>
          </div>

        </div>
      <div class="col">
        <div class="footnote">

        <h4>Codeception is...</h4>

          <div class="small">

          Codeception is new PHP full-stack testing framework. Inspired by BDD, it provides you absolutely new way for writing acceptance, functional and even unit tests. Powered by PHPUnit 3.6.

        </div>

        </div>
      </div>
      <div class="col last">
        <div class="footnote">
        <h4>Credits</h4>

          <div class="small">
        Symfohub was created by <a href="https://github.com/DavertMik" target="_blank">Davert</a>.
            <a href="http://dryicons.com">DryIcons</a> icons were used in design.
          </div>
        </div>
      </div>

    </div>
  </div>
 </body>
</html>
