---
layout: bootstrap
---

<div class="row">
  <div class="col-sm-8 col-lg-8">
    <div class="content page">           
      <div>

        <div id="page">
        {{ content }}
      </div>
      <p>
        &nbsp;
      </p>
        <div class="alert alert-warning">
      Docs are incomplete? Outdated? Maybe it even misled you? Or you just found a typo? 
      <a href="https://github.com/Codeception/Codeception/tree/master/docs">Help us improve documentation. Fork it and edit.</a>
  </div>

    {% include comment.html %}

      </div>  
    </div>
  </div>
  <div class="col-sm-4 col-lg-4">

   <div id="toc" class="nav"></div>

    <script type="text/javascript">
    $(document).ready(function () {
      $('#toc').toc({
        'selectors': 'h2,h3,h4',
        'prefix': 'toc',
        'container': '#page',
    'anchorName': function(i, heading, prefix) { //custom function for anchor name
      return $(heading).text().replace(' ','-');
    },    
  });
    });
    </script>

<div class="well">
<script>
  (function() {
    var cx = '009959493015473517972:mxjflnekt-y';
    var gcse = document.createElement('script'); gcse.type = 'text/javascript'; gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
      </div>


  </div>
</div>