---
layout: bootstrap
---


<div class="row">
  <div class="col-sm-3 col-lg-3">


    <input type="text" class="algolia__input js-algolia__input" autocomplete="off" name="query" placeholder="Search in docs..." />


   <div id="searchable">

    <!-- <input type="search" class="search" placeholder="live search..."> -->
    <br>
     <!-- toc.js generated nav... -->
     <div id="toc" class="nav"></div>
   </div> <!-- /#searchable -->

   <script type="text/javascript">
    $(document).ready(function () {
      $('#page table').addClass('table table-striped table-bordered');
      $('#toc').toc({
        'selectors': 'h2,h3,h4',
        'prefix': 'toc',
        'container': '#page',
        //custom function for anchor name
        'anchorName': function(i, heading, prefix) {
          return $(heading).text().replace(/\s/g, '-').replace(/[^\w-]/g, '');
        },
      });
      // List.js
      $('#toc > ul').addClass('list');
      $('#toc ul.list li a').addClass('searchitem');
      var options = {
        valueNames: [ 'searchitem' ]
      };
      var userList = new List('searchable', options);
      // end List.js

    }); // docrdy
  </script>

</div>
  <div class="col-sm-9 col-lg-9">

        <div class="alert alert-warning text-center">
  ☑ Meet <a href="https://easytesting.io">EasyTesting.io</a>, a project by Michael Bodnarchuk, author of Codeception. Simplify your browser testing experience with CaaS (Codeception as a service)!
</div>


    <div class="content page">
      <div>



        <div id="page">


          <div class="algolia__search-content js-algolia__search-content">
            <h1 class="page-title">Search</h1>
            <div class="posts algolia__results"></div>
          </div>

          <div class="algolia__initial-content js-algolia__initial-content">

            {{ content }}

          </div>
        </div>
        <div class="alert alert-success">
Let us help you take Codeception further. We offer a number of paid services that can help you and your organization get the most out of Codeception Enterprise. Software testing & test automation development and outsourcing.
<strong>
  Request a quote for 
         <a href="http://sdclabs.com/codeception?utm_source=codeception.com&utm_medium=docs_bottom&utm_term=link&utm_campaign=reference">enterprise support</a> or <a href="http://sdclabs.com/trainings?utm_source=codeception.com&utm_medium=docs_bottom&utm_term=link&utm_campaign=reference">trainings</a></strong>

</div>


      </div>

    </div>



  </div>
</div>

