---
layout: default
---
  <div class="layout">
    <div class="content" id="page">           
      <div>
          <div class="promo">
            <div class="col2">
            <h2>In a Glance</h2>

<strong>Codeception</strong> is new PHP full-stack testing framework.
Inspired by BDD, it provides you absolutely new original way for writing acceptance, functional and even unit tests.


            </div>
          </div>

            {{ content }}
      </div>  
    </div>
    <div class="sidebar">
      <div class="inner">  
      
    <script type="text/javascript" charset="utf-8">
  $(document).ready(function(){ 
    $("#toc").tableOfContents(
      $("#page"),      // Scoped to div#wrapper
      {
        startLevel: 2,    // H2 and up
        depth:      2,    // H2 through H4,
        topLinks:   false, // Add "Top" Links to Each Header
      }
    ); 
  });
</script>      
               
      	{% include toc.html %}
      </div>
    </div>
    </div>
    <div id="root_footer"></div>
  </div>
