---
layout: default
---
  <div class="layout">
    <div class="content" id="page">           
      <div>
          <div class="promo">
            <div class="col2">
            <h1>In a Glance</h1>

Codeception is new PHP full-stack testing framework.
Inspired by BDD, it provides you absolutely new original way for writing acceptance, functional and even unit tests.
With the power of PHPUnit 3.6 and useful modules you will write tests faster and effectively.

Describe what you test and how you test it. Use PHP to write descriptions faster.
Run tests and see what actions were taken and what results were seen.              


            </div>
          </div>

            {{ content }}
      </div>  
    </div>
    <div class="sidebar">
      <div class="inner">           
      	{% include toc.html %}
      </div>
    </div>
    </div>
    <div id="root_footer"></div>
  </div>
