---
layout: bootstrap
---
<div class="row">
  <div class="col-sm-8 col-lg-8">
    <div class="content page" id="page">           
      <div>
        {{ content }}
      </div>  
    </div>
  </div>
  <div class="col-sm-4 col-lg-4">

    <div class="well">
      <a class="btn btn-lg btn-warning btn-block" href="/quickstart">Quick Start →</a>
      <p><br/>Write and execute a test for an existing app
        <b>in less then a 5 mins!</b>&nbsp;No additional tools required.&nbsp;
      </p>
    </div>
    <p>
          </p><div>
      <a href="http://codeception.com/thanks.html">
      <img src="https://poser.pugx.org/Codeception/Codeception/version.png" alt="Latest stable version">
      </a>
    </div>
    <p></p>

    <p>Codeception was started in November 2011, and released the <strong>first stable
      version 1.0 in January 2012</strong>. Based on <a href="http://symfony.com/components" target="_blank">Symfony2 Components</a>, <a href="http://phpunit.de" target="_blank">PHPUnit</a>, <a href="http://mink.behat.org" target="_blank">Mink</a>. Codeception is a mature and stable project, well-tested and documented. It's open-source and <strong>MIT licensed</strong>. 
    </p>
    <div>
          <div class="links">

              <a href="https://github.com/codeception/codeception">
                <img src="/images/github.png"> Fork on GitHub
              </a>

            </div>
                <p>
      Join <strong>#codeception</strong> on FreeNode IRC.
    </p>

    </div>
  </div>
</div>