---
layout: default
---
  <div class="layout">
    <div class="content" id="page">           
      <div>
            {{ content }}
      </div>  
    </div>
    <div class="sidebar">
      <div class="inner">  

      <a class="FlattrButton" style="display:none;" rev="flattr;button:compact;" href="https://flattr.com/profile/davert"></a>
<noscript><a href="http://flattr.com/thing/790654/davert-on-Flattr" target="_blank">
<img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0" /></a></noscript>         

      	{% include toc.html %}

        <h2><small>Our Projects</small></h2>

  <a href="http://symfohub.com">  
  <img src="/images/projects/symfohub_small_banner.png" alt="Symfohub - collection of useful repositories" style="margin-left: -5px;"/>   
  </a>
  <a href="http://bugira.com">
    <img src="/images/projects/bugira_small_banner.png" alt="Bugira - the smartest bugtracker" style="margin-left: -5px;" />
  </a>          
      </div>
    </div>
    </div>
    <div id="root_footer"></div>
  </div>
